:root {
    --blue: #162C4E;
  }

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 80px;
    background-color: rgba(164, 32, 32, 0.53);
}

main  {
    width: 100%;
    flex-grow: 1;
    background-color: rgb(92, 166, 210);
}


footer {
    width: 100%;
    flex-shrink: 0;
    height: 192px;
    background-color: var(--blue);
}